.my-message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 13px;
}

.my-message-container:first-child {
  margin-top: 5px;
}

.my-message {
  border-radius: 8px;
  padding: 8px;
  max-width: 200px;
  word-wrap: break-word; /* 긴 단어를 자동으로 줄바꿈 */
}